<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD12pAAJlhPG-gD1HL8R4TTzKqKH0KXBUI</string>
	<key>GCM_SENDER_ID</key>
	<string>327742061526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shushApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studibudi-217c0</string>
	<key>STORAGE_BUCKET</key>
	<string>studibudi-217c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327742061526:ios:0d9c41b5e76489c2f48277</string>
</dict>
</plist>